<ion-view title="Contato" id="page2" style="background-color:#BCC3C3;">
    <ion-content padding="true" scroll="false" class="has-header">
        <h4 id="contato-heading5" style="color:#000000;text-align:center;">Entre em contato com nossa equipe</h4>
        <div id="contato-markdown2" style="color:#000000;font-size:16px;">
            <p>Nossa equipe estará disponível para solucionar e atender a qualquer problemas ou dúvidas.</p>
        </div>
        <form class="list">
            <label class="item item-input" name="Nome">
                <span class="input-label">Nome:</span>
                <input type="text" placeholder="Nome">
            </label>
            <label class="item item-input">
                <span class="input-label">Email:</span>
                <input type="text" placeholder="Email">
            </label>
            <label class="item item-input" name="Telefone">
                <span class="input-label">Telefone:</span>
                <input type="tel" placeholder="Telefone">
            </label>
            <label class="item item-input">
                <span class="input-label">Assunto:</span>
                <input type="text" placeholder="Assunto">
            </label>
            <label class="item item-input" name="Conteúdo">
                <span class="input-label">Conteúdo:</span><textarea placeholder="Conteúdo"> </textarea>
            </label>
        </form>
        <div id="contato-markdown4" style="color:#000000;font-size:16px;text-align:justify;">
            <p>Fique a vontade e visite o site da: http://etecdrc.com.br</p>
        </div>
    </ion-content>
</ion-view>