<ion-view title="Inicio" id="page1" style="background-color:#BCC3C3;">
    <ion-content padding="true" scroll="false" class="has-header">
        <div>
            <img src="img/wUk0fKF5Qx25P7Y1pNNA_onlinelogomaker-043016-1507.png" width="auto" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <h3 id="inicio-heading4" style="color:#000000;text-align:center;">Curso de Plataforma Híbridas</h3>
        <div id="inicio-markdown1" style="color:#000000;text-align:justify;">
            <p>Bem Vindo ao Curso de Plataforas Híbridas. Voltado para o desenvolvimeto de aplicativos Híbridos para Androind, IOS e outras plataformas do mercado.</p>
        </div>
    </ion-content>
</ion-view>